<!-- breadcrumb -->
<div class="breadcrumb-header justify-content-between">
	<div class="my-auto">
		<div class="d-flex">
			<h4 class="content-title mb-0 my-auto">Advanced ui</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/
				Accordions</span>
		</div>
	</div>
	<div class="d-flex my-xl-auto right-content mr-2">
		<div class="pr-1 mb-3 mb-xl-0">
			<button type="button" class="btn btn-info btn-icon mr-2"><i class="mdi mdi-filter-variant"></i></button>
		</div>
		<div class="pr-1 mb-3 mb-xl-0">
			<button type="button" class="btn btn-danger btn-icon mr-2"><i class="mdi mdi-star"></i></button>
		</div>
		<div class="pr-1 mb-3 mb-xl-0">
			<button type="button" class="btn btn-warning  btn-icon mr-2"><i class="mdi mdi-refresh"></i></button>
		</div>
		<div class="mb-3 mb-xl-0">
			<div ngbDropdown class="btn-group">
                <button type="button" class="btn btn-primary">14 Aug 2019</button>
                <button type="button" ngbDropdownToggle class="btn btn-primary dropdown-toggle-split" id="dropdownMenuDate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownMenuDate" data-x-placement="bottom-end">
                    <a ngbDropdownItem href="javascript:;">2015</a>
                    <a ngbDropdownItem href="javascript:;">2016</a>
                    <a ngbDropdownItem href="javascript:;">2017</a>
                    <a ngbDropdownItem href="javascript:;">2018</a>
                </div>
            </div>
		</div>
	</div>
</div>
<!-- breadcrumb -->

<!-- row -->
<div class="row">
	<div class="col-lg-12 col-md-12">
		<div class="card">
			<div class="card-body">
				<div>
					<h6 class="card-title mb-1">Basic Style Accordion</h6>
					<p class="text-muted card-sub-title">The default collapse behavior to create an accordion.</p>
				</div>
				<div aria-multiselectable="true" class="accordion" id="accordion" role="tablist">
					<ngb-accordion [closeOthers]="true" activeIds="static-1">
						<ngb-panel id="static-1" title="Making a Beautiful CSS3 Button Set">
							<ng-template ngbPanelContent>
								A concisely coded CSS3 button set increases usability across the board, gives you a ton
								of options, and keeps all the code involved to an absolute minimum. Anim pariatur cliche
								reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
								officia aute, non cupidatat skateboard dolor brunch.
							</ng-template>
						</ngb-panel>

						<ngb-panel id="static-2" title="Horizontal Navigation Menu Fold Animation">
							<ng-template ngbPanelContent>
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
								squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
								quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
								squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
								craft beer labore.
							</ng-template>
						</ngb-panel>

						<ngb-panel id="static-3" title="Creating CSS3 Button with Rounded Corners">
							<ng-template ngbPanelContent>
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
								squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
								quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
								squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
								craft beer labore.
							</ng-template>
						</ngb-panel>
					</ngb-accordion>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 col-md-12">
		<div class="card overflow-hidden">
			<div class="card-header pb-0">
				<h3 class="card-title">Accordion Style01</h3>
				<p class="text-muted card-sub-title mb-0">The default collapse behavior to create an accordion.</p>
			</div>
			<div class="card-body">
				<div class="panel-group1" id="accordion11">
					<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
						<ngb-panel>
							<ng-template ngbPanelTitle>
								<span><i class="fe fe-arrow-right mr-2"></i> Section 1</span>
							</ng-template>
							<ng-template ngbPanelContent>
								<div class="panel-body border">
									<p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words </p>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise</p>
								</div>
							</ng-template>
						</ngb-panel>

						<ngb-panel>
							<ng-template ngbPanelTitle>
								<span class="bg-primary panel-heading1"><i class="fe fe-arrow-right mr-2"></i> Section 2</span>
							</ng-template>
							<ng-template ngbPanelContent>
								<div class="panel-body border">
									<p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words </p>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise</p>
								</div>
							</ng-template>
						</ngb-panel>
					</ngb-accordion>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- row closed -->

<!-- row opened -->
<div class="row">
	<div class="col-xl-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Accordion Style02</h3>
			</div>
			<div class="card-body h-100">
				<div id="accordion12" class="w-100 br-2 overflow-hidden">
					<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
						<ngb-panel>
							<ng-template ngbPanelTitle>
								<span><i class="si si-cursor-move mr-2"></i> Accordions With Text</span>
							</ng-template>
							<ng-template ngbPanelContent>
								I must explain to you how all this mistaken idea of denouncing pleasure and praising
								pain was born and I will give you a complete account of the system, and expound the
								actual teachings of the great explorer of the truth, the master-builder of human
								happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure,
								but because those who do not know how to pursue pleasure rationally encounter
								consequences that are extremely painful
								sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt
								mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et
								expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque
								nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda
								est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut
								rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae
							</ng-template>
						</ngb-panel>
						<ngb-panel>
							<ng-template ngbPanelTitle>
								<span><i class="si si-cursor-move mr-2"></i> Accordions With images</span>
							</ng-template>
							
							<ng-template ngbPanelContent>
								<div class="border p-3">
									<div class="row">
										<div class="col-lg-3 col-md-6">
											<img class="img-fluid rounded" src="../../assets/img/photos/8.jpg "
												alt="banner image">
										</div>
										<div class="col-lg-3 col-md-6">
											<img class="img-fluid rounded" src="../../assets/img/photos/10.jpg"
												alt="banner image ">
										</div>
										<div class="col-lg-3 col-md-6">
											<img class="img-fluid rounded" src="../../assets/img/photos/11.jpg"
												alt="banner image ">
										</div>
										<div class="col-lg-3 col-md-6">
											<img class="img-fluid rounded " src="../../assets/img/photos/12.jpg"
												alt="banner image ">
										</div>
									</div>
								</div>
							</ng-template>
						</ngb-panel>

						<ngb-panel>
							<ng-template ngbPanelTitle>
								<span><i class="si si-cursor-move mr-2"></i> Accordions With tables</span>
							</ng-template>
							<ng-template ngbPanelContent>
								<div class="border p-3">
									<table class="table mb-0 table-bordered border-top mb-0">
										<thead>
											<tr>
												<th>#</th>
												<th>First Name</th>
												<th>Last Name</th>
												<th>Username</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th scope="row">1</th>
												<td>Mark</td>
												<td>Otto</td>
												<td>@mdo</td>
											</tr>
											<tr>
												<th scope="row">2</th>
												<td>Jacob</td>
												<td>Thornton</td>
												<td>@fat</td>
											</tr>
											<tr>
												<th scope="row">3</th>
												<td>Larry</td>
												<td>the Bird</td>
												<td>@twitter</td>
											</tr>
										</tbody>
									</table>
								</div>
							</ng-template>
						</ngb-panel>
					</ngb-accordion>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- row closed -->

<!-- Row -->
<div class="row">
	<div class="col-lg-12 col-md-12">
		<div class="card">
			<div class="card-body">
				<div>
					<h6 class="card-title mb-1">Colored Style Accordion</h6>
					<p class="text-muted card-sub-title">The default collapse behavior to create an accordion.</p>
				</div>
				<div aria-multiselectable="true" class="accordion accordion-dark" id="accordion2" role="tablist">

					<ngb-accordion [closeOthers]="true" activeIds="static-1">
						<ngb-panel id="static-1" title="Making a Beautiful CSS3 Button Set">
							<ng-template ngbPanelContent>
								A concisely coded CSS3 button set increases usability across the board, gives you a ton
								of options, and keeps all the code involved to an absolute minimum. Anim pariatur cliche
								reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
								officia aute, non cupidatat skateboard dolor brunch.
							</ng-template>
						</ngb-panel>

						<ngb-panel id="static-2" title="Horizontal Navigation Menu Fold Animation">
							<ng-template ngbPanelContent>
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
								squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
								quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
								squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
								craft beer labore.
							</ng-template>
						</ngb-panel>

						<ngb-panel id="static-3" title="Creating CSS3 Button with Rounded Corners">
							<ng-template ngbPanelContent>
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
								squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
								quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
								squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
								craft beer labore.
							</ng-template>
						</ngb-panel>

					</ngb-accordion>
				</div><!-- accordion -->
			</div>
			<div class="card-footer">
				<table class="table main-table-reference mt-0 mb-0">
					<thead>
						<tr>
							<th class="wd-40p">Class Reference</th>
							<th class="wd-60p">Values</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><code class="pd-0 bg-transparent">class="accordion accordion-[value]"</code></td>
							<td>indigo | blue | dark | gray</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>