<!-- breadcrumb -->
<div class="breadcrumb-header justify-content-between">
	<div class="my-auto">
		<div class="d-flex">
			<h4 class="content-title mb-0 my-auto">Advanced ui</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/
				Modals</span>
		</div>
	</div>
	<div class="d-flex my-xl-auto right-content mr-2">
		<div class="pr-1 mb-3 mb-xl-0">
			<button type="button" class="btn btn-info btn-icon mr-2"><i class="mdi mdi-filter-variant"></i></button>
		</div>
		<div class="pr-1 mb-3 mb-xl-0">
			<button type="button" class="btn btn-danger btn-icon mr-2"><i class="mdi mdi-star"></i></button>
		</div>
		<div class="pr-1 mb-3 mb-xl-0">
			<button type="button" class="btn btn-warning  btn-icon mr-2"><i class="mdi mdi-refresh"></i></button>
		</div>
		<div class="mb-3 mb-xl-0">
			<div ngbDropdown class="btn-group">
                <button type="button" class="btn btn-primary">14 Aug 2019</button>
                <button type="button" ngbDropdownToggle class="btn btn-primary dropdown-toggle-split" id="dropdownMenuDate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownMenuDate" data-x-placement="bottom-end">
                    <a ngbDropdownItem href="javascript:;">2015</a>
                    <a ngbDropdownItem href="javascript:;">2016</a>
                    <a ngbDropdownItem href="javascript:;">2017</a>
                    <a ngbDropdownItem href="javascript:;">2018</a>
                </div>
            </div>
		</div>
	</div>
</div>
<!-- breadcrumb -->

<!-- row -->


<div class="row">
	<div class="col-lg-12 col-md-12">
		<div class="card custom-card">
			<div class="card-body">
				<div>
					<h6 class="card-title mb-1">Basic Example of Modal View</h6>
					<p class="text-muted card-sub-title">Below is the static example of the basic modal.</p>
				</div>
				<div class="pd-20 bg-light">
					<div class="modal d-block pos-static basic-modal">
						<div class="modal-dialog" role="document">
							<div class="modal-content modal-content-demo">
								<div class="modal-header">
									<h6 class="modal-title">Modal Header</h6><button aria-label="Close" class="close"
										data-dismiss="modal" type="button"><span
											aria-hidden="true">&times;</span></button>
								</div>
								<div class="modal-body">
									<h6>Modal Body</h6>
									<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
										quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
								</div>
								<div class="modal-footer">
									<button class="btn ripple btn-primary" type="button">Save changes</button>
									<button class="btn ripple btn-secondary" type="button">Close</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /row -->

<!-- row -->
<div class="row">
	<div class="col-sm-4 col-md-6 col-lg-4">
		<div class="card custom-card">
			<div class="card-body">
				<div>
					<h6 class="main-content-label mb-3">Basic Modal</h6>
				</div>
				<button class="btn btn-primary mb-2 mr-2" (click)="openBasic(basicModal)">View Demo</button>
			</div>
		</div>
	</div>
	<div class="col-sm-4 col-md-6 col-lg-4">
		<div class="card custom-card">

			<div class="card-body">
				<div>
					<h6 class="main-content-label mb-3">Small Modal</h6>
				</div>
				<button class="btn btn-secondary mb-2 mr-2" (click)="openSm(smallModal)">View Demo</button>
			</div>


		</div>
	</div>
	<div class="col-sm-4 col-md-6 col-lg-4">
		<div class="card custom-card">
			<div class="card-body">
				<div>
					<h6 class="card-title">Large Modal</h6>
				</div>
				<button class="btn btn-info mb-2 mr-2" (click)="openLg(largeModal)">View Demo</button>

			</div>
		</div>
	</div>
	<div class="col-sm-4 col-md-6 col-lg-4">
		<div class="card custom-card">
			<div class="card-body">
				<div>
					<h6 class="card-title">Grid Modal</h6>
				</div>
				<button class="btn btn-warning mb-2 mr-2" (click)="GridOpen(gridModal)">View Demo</button>
			</div>
		</div>
	</div>
	<div class="col-sm-4 col-md-6 col-lg-4">
		<div class="card custom-card">
			<div class="card-body">
				<div>
					<h6 class="card-title">Modal Success Alert Messages</h6>
				</div>
				<button class="btn btn-success mb-2 mr-2" (click)="SuccessOpen(successModal)">View Demo</button>
			</div>
		</div>
	</div>
	<div class="col-sm-4 col-md-6 col-lg-4">
		<div class="card custom-card">
			<div class="card-body">
				<div>
					<h6 class="card-title">Modal Danger Alert Messages</h6>
				</div>
				<button class="btn btn-danger mb-2 mr-2" (click)="WarningOpen(warningModal)">View Demo</button>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-4">
		<div class="card custom-card">
			<div class="card-body">
				<div>
					<h6 class="card-title">Select2 Inside Modals</h6>
				</div>
				<button class="btn btn-teal mb-2 mr-2" (click)="Select2Open(select2Modal)">View Demo</button>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-6 col-lg-4">
		<div class="card custom-card">
			<div class="card-body">
				<div>
					<h6 class="card-title">Scrolling Modal</h6>
				</div>
				<button class="btn btn-teal mb-2 mr-2" (click)="openScrollable(scrollModal)">View Demo</button>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-12 col-lg-4">
		<div class="card custom-card">
			<div class="card-body">
				<div>
					<h6 class="card-title">Scrolling with Content</h6>
				</div>
				<button class="btn btn-secondary mb-2 mr-2" (click)="scrollableContent(scrollContentModal)">View
					Demo</button>
			</div>
		</div>
	</div>
</div>
<!-- /row -->

<!-- Modals -->

<!-- basic Modal -->

<ng-template #basicModal let-modal>
	<div class="modal-header">
		<h6 class="modal-title">Basic Modal</h6>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<h6>Modal Body</h6>
		<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
			dolores eos qui ratione voluptatem sequi nesciunt.</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn ripple btn-primary">Save changes</button>
		<button type="button" class="btn ripple btn-secondary" (click)="modal.close('Save click')">Close</button>
	</div>
</ng-template>


<!-- small modal -->
<ng-template #smallModal let-modal>
	<div class="modal-header">
		<h6 class="modal-title">Small Modal</h6>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
			dolores eos qui ratione voluptatem sequi nesciunt.</p>
	</div>
	<div class="modal-footer justify-content-center">
		<button type="button" class="btn ripple btn-primary">Save changes</button>
		<button type="button" class="btn ripple btn-secondary" (click)="modal.close('Save click')">Close</button>
	</div>
</ng-template>

<!-- large modal -->
<ng-template #largeModal let-modal>
	<div class="modal-header">
		<h6 class="modal-title">Large Modal</h6>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
			dolores eos qui ratione voluptatem sequi nesciunt.</p>
	</div>
	<div class="modal-footer ">
		<button type="button" class="btn ripple btn-primary">Save changes</button>
		<button type="button" class="btn ripple btn-secondary" (click)="modal.close('Save click')">Close</button>
	</div>
</ng-template>

<!-- grid modal -->

<ng-template #gridModal let-modal>
	<div class="modal-header">
		<h6 class="modal-title">Grid Modal</h6>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-6">
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
					totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
					dicta sunt explicabo.</p>
			</div>
			<div class="col-md-6">
				<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
					born and I will give you a complete account of the who loves toil and pain can procureor sit
					aspernatur system.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<p>expound the actual teachings of the great explorer of the truth, the master-builder of human
					happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure desires to
					obtain pain.</p>
			</div>
			<div class="col-md-6">
				<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
					quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat aut odit
					voluptatem.</p>
			</div>
		</div>
	</div>
	<div class="modal-footer ">
		<button type="button" class="btn ripple btn-primary">Save changes</button>
		<button type="button" class="btn ripple btn-secondary" (click)="modal.close('Save click')">Close</button>
	</div>
</ng-template>

<!-- Modal Success Alert Messages -->

<ng-template #successModal let-modal>
	<div class="modal-body tx-center">
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
		<i class="icon ion-ios-checkmark-circle-outline tx-100 tx-success lh-1 mg-t-20 d-inline-block"></i>
		<h4 class="tx-success tx-semibold mg-b-20">Congratulations!</h4>
		<p class="mg-b-20 mg-x-20">There are many variations of passages of Lorem Ipsum available, but the majority have
			suffered alteration.</p>
		<button type="button" class="btn ripple btn-success" (click)="modal.close('Close click')">Continue</button>
	</div>
</ng-template>

<!-- Warning Alert -->

<ng-template #warningModal let-modal>
	<div class="modal-body tx-center">
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
		<i class="icon icon ion-ios-close-circle-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>
		<h4 class="tx-danger mg-b-20">Error: Cannot process your entry!</h4>
		<p class="mg-b-20 mg-x-20">There are many variations of passages of Lorem Ipsum available, but the majority have
			suffered alteration.</p>
		<button type="button" class="btn ripple btn-danger" (click)="modal.close('Close click')">Continue</button>
	</div>
</ng-template>

<!-- select2 Model -->

<ng-template #select2Modal let-modal>
	<div class="modal-header">
		<h6 class="modal-title">Select2 Modal</h6>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<h6>Modal Body</h6>
		<!-- Select2 -->
		<ng-select class="form-control">
			<ng-option value="Firefox">Firefox</ng-option>
			<ng-option value="Chrome">Chrome</ng-option>
			<ng-option value="Safari">Safari</ng-option>
			<ng-option value="Opera">Opera</ng-option>
			<ng-option value="Internet Explorer">Internet Explorer</ng-option>
		</ng-select>
		<!-- Select2 -->
		<p class="mt-3">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
			consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
	</div>
	<div class="modal-footer ">
		<button type="button" class="btn ripple btn-primary">Save changes</button>
		<button type="button" class="btn ripple btn-secondary" (click)="modal.close('Save click')">Close</button>
	</div>
</ng-template>


<!-- Scroll modal -->

<ng-template #scrollModal let-modal>
	<div class="modal-header">
		<h6 class="modal-title">Scroll Modal</h6>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
			dolores eos qui ratione voluptatem sequi nesciunt.</p>
		<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I
			will give you a complete account of the system, and expound the actual teachings of the great explorer of
			the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself,
			because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter
			consequences that are extremely painful. </p>
		<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
			atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
			sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
			facilis est et expedita distinctio.</p>
		<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized
			by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble
			that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will,
			which is the same as saying through shrinking from toil and pain.</p>
		<p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is
			untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be
			welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the
			obligations of business it will frequently occur that pleasures have to be repudiated and annoyances
			accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects
			pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains.</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn ripple btn-primary">Save changes</button>
		<button type="button" class="btn ripple btn-secondary" (click)="modal.close('Save click')">Close</button>
	</div>
</ng-template>

<!-- Scroll with content modal -->

<ng-template #scrollContentModal let-modal>
	<div class="modal-header">
		<h6 class="modal-title">Scrolling With Content Modal</h6>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
			dolores eos qui ratione voluptatem sequi nesciunt.</p>
		<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I
			will give you a complete account of the system, and expound the actual teachings of the great explorer of
			the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself,
			because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter
			consequences that are extremely painful. </p>
		<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
			atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
			sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
			facilis est et expedita distinctio.</p>
		<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized
			by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble
			that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will,
			which is the same as saying through shrinking from toil and pain.</p>
		<p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is
			untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be
			welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the
			obligations of business it will frequently occur that pleasures have to be repudiated and annoyances
			accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects
			pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains.</p>
		<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
			dolores eos qui ratione voluptatem sequi nesciunt.</p>
		<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I
			will give you a complete account of the system, and expound the actual teachings of the great explorer of
			the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself,
			because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter
			consequences that are extremely painful. </p>
		<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
			atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
			sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
			facilis est et expedita distinctio.</p>
		<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized
			by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble
			that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will,
			which is the same as saying through shrinking from toil and pain.</p>
		<p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is
			untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be
			welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the
			obligations of business it will frequently occur that pleasures have to be repudiated and annoyances
			accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects
			pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains.</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn ripple btn-primary">Save changes</button>
		<button type="button" class="btn ripple btn-secondary" (click)="modal.close('Save click')">Close</button>
	</div>
</ng-template>