					<!-- breadcrumb -->
					<div class="breadcrumb-header justify-content-between">
						<div class="my-auto">
							<div class="d-flex">
								<h4 class="content-title mb-0 my-auto">Elements</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/ Listgroup</span>
							</div>
						</div>
						<div class="d-flex my-xl-auto right-content mr-2">
							<div class="pr-1 mb-3 mb-xl-0">
								<button type="button" class="btn btn-info btn-icon mr-2"><i class="mdi mdi-filter-variant"></i></button>
							</div>
							<div class="pr-1 mb-3 mb-xl-0">
								<button type="button" class="btn btn-danger btn-icon mr-2"><i class="mdi mdi-star"></i></button>
							</div>
							<div class="pr-1 mb-3 mb-xl-0">
								<button type="button" class="btn btn-warning  btn-icon mr-2"><i class="mdi mdi-refresh"></i></button>
							</div>
							<div class="mb-3 mb-xl-0">
								<div ngbDropdown class="btn-group">
									<button type="button" class="btn btn-primary">14 Aug 2019</button>
									<button type="button" ngbDropdownToggle class="btn btn-primary dropdown-toggle-split" id="dropdownMenuDate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="sr-only">Toggle Dropdown</span>
									</button>
									<div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownMenuDate" data-x-placement="bottom-end">
										<a ngbDropdownItem href="javascript:;">2015</a>
										<a ngbDropdownItem href="javascript:;">2016</a>
										<a ngbDropdownItem href="javascript:;">2017</a>
										<a ngbDropdownItem href="javascript:;">2018</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- breadcrumb -->

					<!-- row -->
					<div class="row row-sm">
						<div class="col-lg-6 col-md-12">
							<div class="card mg-b-20" id="list">
								<div class="card-body">
									<div class="main-content-label mg-b-5">
										Basic Example
									</div>
									<p class="mg-b-20 text-muted card-sub-title">It is Very Easy to Customize and it uses in your website apllication</p>
									<div class="text-wrap">
										<div class="example">
											<div class="listgroup-example ">
												<ul class="list-group">
													<li>Dapibus ac facilisis in</li>
													<li>Morbi leo risus</li>
													<li>Cras justo odio
														<ul class="list-style-disc">
														  <li>Lorem </li>
														  <li>established</li>
														  <li>Contrary</li>
														</ul>
													</li>
													<li>Porta ac consectetur ac</li>
													<li>Vestibulum at eros</li>
												</ul>
											</div>
										</div>
										<!-- Prism Code -->
<figure class="highlight clip-widget" id="alert1">
	<ul ngbNav #nav1="ngbNav" class="nav-tabs">
		<li [ngbNavItem]="1">
			<a ngbNavLink>HTML</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="html1"></code></pre>
				<div ngxClipboard [cbContent]="html1" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
		<li [ngbNavItem]="2">
			<a ngbNavLink>TS</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="ts1"></code></pre>
				<div ngxClipboard [cbContent]="ts1" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
	</ul>
	<div [ngbNavOutlet]="nav1"></div>

</figure>

<!-- End Prism Precode -->
									</div>
								</div>
							</div>
						</div>


						<div class="col-lg-6 col-md-12">
							<div class="card mg-b-20" id="list1">
								<div class="card-body">
									<div class="main-content-label mg-b-5">
										Active Item
									</div>
									<p class="mg-b-20 text-muted card-sub-title">It is Very Easy to Customize and it uses in your website apllication</p>
									<div class="text-wrap">
										<div class="example">
											<div class="listgroup-example2">
												<ul class="list-group">
													<li>Dapibus ac facilisis in</li>
													<li>Morbi leo risus</li>
													<li>Cras justo odio
														<ul class="list-style-disc">
														  <li>Lorem </li>
														  <li>established</li>
														  <li>Contrary</li>
														</ul>
													</li>
													<li>Porta ac consectetur ac</li>
													<li>Vestibulum at eros</li>
												</ul>
											</div>
										</div>
										<!-- Prism Code -->
<figure class="highlight clip-widget" id="alert1">
	<ul ngbNav #nav2="ngbNav" class="nav-tabs">
		<li [ngbNavItem]="1">
			<a ngbNavLink>HTML</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="html2"></code></pre>
				<div ngxClipboard [cbContent]="html2" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
		<li [ngbNavItem]="2">
			<a ngbNavLink>TS</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="ts2"></code></pre>
				<div ngxClipboard [cbContent]="ts2" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
	</ul>
	<div [ngbNavOutlet]="nav2"></div>

</figure>

<!-- End Prism Precode -->
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-12 col-xl-6 col-md-12">
							<div class="card mg-b-20" id="list1">
								<div class="card-body">
									<div class="main-content-label mg-b-5">
										Custom content
									</div>
									<p class="mg-b-20 text-muted card-sub-title">It is Very Easy to Customize and it uses in your website apllication</p>
									<div class="text-wrap">
										<div class="example">
											<div class="list-group">
												<a class="list-group-item list-group-item-action flex-column align-items-start active" href="javascript:;">
												<div class="d-flex w-100 justify-content-between">
													<h5 class="mb-2 tx-14">List group item heading</h5><small>3 days ago</small>
												</div>
												<p class="mb-1 tx-13">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p><small>Donec id elit non mi porta.</small></a> <a class="list-group-item list-group-item-action flex-column align-items-start" href="javascript:;">
												<div class="d-flex w-100 justify-content-between">
													<h5 class="mb-2 tx-14">List group item heading</h5><small class="text-muted">3 days ago</small>
												</div>
												<p class="mb-1 tx-13">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p><small class="text-muted">Donec id elit non mi porta.</small></a> <a class="list-group-item list-group-item-action flex-column align-items-start" href="javascript:;">
												<div class="d-flex w-100 justify-content-between">
													<h5 class="mb-2 tx-14">List group item heading</h5><small class="text-muted">3 days ago</small>
												</div>
												<p class="mb-1 tx-13">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p><small class="text-muted">Donec id elit non mi porta.</small></a>
											</div>
										</div>
										<!-- Prism Code -->
<figure class="highlight clip-widget" id="alert1">
	<ul ngbNav #nav3="ngbNav" class="nav-tabs">
		<li [ngbNavItem]="1">
			<a ngbNavLink>HTML</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="html3"></code></pre>
				<div ngxClipboard [cbContent]="html3" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
		<li [ngbNavItem]="2">
			<a ngbNavLink>TS</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="ts3"></code></pre>
				<div ngxClipboard [cbContent]="ts3" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
	</ul>
	<div [ngbNavOutlet]="nav3"></div>

</figure>

<!-- End Prism Precode -->
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-12 col-xl-6 col-md-12">
							<div class="card mg-b-20" id="list1">
								<div class="card-body">
									<div class="main-content-label mg-b-5">
										Custom content with image
									</div>
									<p class="mg-b-20 text-muted card-sub-title">It is Very Easy to Customize and it uses in your website apllication</p>
									<div class="text-wrap">
										<div class="example">
											<div class="list-group">
												<a class="list-group-item list-group-item-action flex-column align-items-start active" href="javascript:;">
													<span class="d-flex">
														<img alt="" class="mr-3 rounded-circle avatar-md" src="../../assets/img/faces/3.jpg">
														<div class="">
															<div class="d-flex w-100 justify-content-between">
																<h5 class="mb-2 tx-14">List group item heading</h5><small>3 days ago</small>
															</div>
															<p class="mb-1 tx-13">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p><small>Donec id elit non mi porta.</small>
														</div>
													</span>
												</a>
												<a class="list-group-item list-group-item-action flex-column align-items-start" href="javascript:;">
													<span class="d-flex">
														<img alt="" class="mr-3 rounded-circle avatar-md" src="../../assets/img/faces/8.jpg">
														<div class="">
															<div class="d-flex w-100 justify-content-between">
																<h5 class="mb-2 tx-14">List group item heading</h5><small>3 days ago</small>
															</div>
															<p class="mb-1 tx-13">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p><small>Donec id elit non mi porta.</small>
														</div>
													</span>
												</a>
												<a class="list-group-item list-group-item-action flex-column align-items-start" href="javascript:;">
													<span class="d-flex">
														<img alt="" class="mr-3 rounded-circle avatar-md" src="../../assets/img/faces/11.jpg">
														<div class="">
															<div class="d-flex w-100 justify-content-between">
																<h5 class="mb-2 tx-14">List group item heading</h5><small>3 days ago</small>
															</div>
															<p class="mb-1 tx-13">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p><small>Donec id elit non mi porta.</small>
														</div>
													</span>
												</a>
											</div>
										</div>
										<!-- Prism Code -->
<figure class="highlight clip-widget" id="alert1">
	<ul ngbNav #nav4="ngbNav" class="nav-tabs">
		<li [ngbNavItem]="1">
			<a ngbNavLink>HTML</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="html4"></code></pre>
				<div ngxClipboard [cbContent]="html4" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
		<li [ngbNavItem]="2">
			<a ngbNavLink>TS</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="ts4"></code></pre>
				<div ngxClipboard [cbContent]="ts4" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
	</ul>
	<div [ngbNavOutlet]="nav4"></div>

</figure>

<!-- End Prism Precode -->
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-12 col-xl-6 col-md-12">
							<div class="card mg-b-20" id="list3">
								<div class="card-body">
									<div class="main-content-label mg-b-5">
										USER LIST
									</div>
									<p class="mg-b-20 text-muted card-sub-title">It is Very Easy to Customize and it uses in your website apllication</p>
									<div class="text-wrap">
										<div class="example">
											<div class="list-group">
												<div class="list-group-item pd-y-20">
													<div class="media">
														<div class="d-flex mg-r-10 wd-50">
															<img class="mr-4 rounded-circle avatar-md" src="../../assets/img/faces/17.jpg" alt="avatar">
														</div>
														<div class="media-body">
															<div class="media-body d-flex">
																<h6 class="tx-15 mb-2">Blake Vanessa</h6>
																<span class="tx-12 float-right ml-auto text-muted">4 hours ago</span>
															</div>
															<p class="tx-13 mg-b-10 text-muted mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's .</p>
														</div>
													</div>
												</div>
												<div class="list-group-item pd-y-20">
													<div class="media">
														<div class="d-flex mg-r-10 wd-50">
															<img class="mr-4 rounded-circle avatar-md" src="../../assets/img/faces/5.jpg" alt="avatar">
														</div>
														<div class="media-body">
															<div class="media-body d-flex">
																<h6 class="tx-15 mb-2">Elizabeth Parsons</h6>
																<span class="tx-12 float-right ml-auto text-muted">8 hours ago</span>
															</div>
															<p class="tx-13 mg-b-10 text-muted mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's .</p>
														</div>
													</div>
												</div>
												<div class="list-group-item pd-y-20">
													<div class="media">
														<div class="d-flex mg-r-10 wd-50">
															<img class="mr-4 rounded-circle avatar-md" src="../../assets/img/faces/12.jpg" alt="avatar">
														</div>
														<div class="media-body">
															<div class="media-body d-flex">
																<h6 class="tx-15 mb-2">Nicola Lambert</h6>
																<span class="tx-12 float-right text-muted ml-auto">12 hours ago</span>
															</div>
															<p class="tx-13 mg-b-10 text-muted mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's .</p>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- Prism Code -->
<figure class="highlight clip-widget" id="alert1">
	<ul ngbNav #nav5="ngbNav" class="nav-tabs">
		<li [ngbNavItem]="1">
			<a ngbNavLink>HTML</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="html5"></code></pre>
				<div ngxClipboard [cbContent]="html5" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
		<li [ngbNavItem]="2">
			<a ngbNavLink>TS</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="ts5"></code></pre>
				<div ngxClipboard [cbContent]="ts5" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
	</ul>
	<div [ngbNavOutlet]="nav5"></div>

</figure>

<!-- End Prism Precode -->
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-12 col-xl-6 col-md-12">
							<div class="card mg-b-20" id="list8">
								<div class="card-body">
									<div class="main-content-label mg-b-5">
										Using Image
									</div>
									<p class="mg-b-20 text-muted card-sub-title">It is Very Easy to Customize and it uses in your website apllication.</p>
									<div class="text-wrap">
										<div class="example">
											<ul class="list-group wd-md-100p users-list-group">
												<li class="list-group-item d-flex align-items-center">
													<img alt="" class="mr-3 rounded-circle avatar-md" src="../../assets/img/faces/5.jpg">
													<div>
														<h6 class="tx-15 mb-1 tx-inverse tx-semibold mg-b-0">Adrian Monino</h6><span class="d-block tx-13 text-muted">Premium Member</span>
													</div>
													<div class="d-flex float-left ml-auto">
														<a href="javascript:;" class="btn btn-outline-light btn-icon mr-2">
														  <div class=""><i class="bx bx-plus"></i></div>
														</a>
														<a href="javascript:;" class="btn btn-outline-light btn-icon">
														  <div class=""><i class="bx bx-minus"></i></div>
														</a>
													</div>
												</li>
												<li class="list-group-item d-flex align-items-center">
													<img alt="" class="mr-3 rounded-circle avatar-md" src="../../assets/img/faces/6.jpg">
													<div>
														<h6 class="tx-15 mb-1 tx-inverse tx-semibold mg-b-0">Joel Mendez</h6><span class="d-block tx-13 text-muted">Premium Member</span>
													</div>
													<div class="d-flex float-left ml-auto">
														<a href="javascript:;" class="btn btn-outline-light btn-icon mr-2">
														  <div class=""><i class="bx bx-plus"></i></div>
														</a>
														<a href="javascript:;" class="btn btn-outline-light btn-icon">
														  <div class=""><i class="bx bx-minus"></i></div>
														</a>
													</div>
												</li>
												<li class="list-group-item d-flex align-items-center">
													<img alt="" class="mr-3 rounded-circle avatar-md" src="../../assets/img/faces/15.jpg">
													<div>
														<h6 class="tx-15 mb-1 tx-inverse tx-semibold mg-b-0">Joel Mendez</h6><span class="d-block tx-13 text-muted">Premium Member</span>
													</div>
													<div class="d-flex float-left ml-auto">
														<a href="javascript:;" class="btn btn-outline-light btn-icon mr-2">
														  <div class=""><i class="bx bx-plus"></i></div>
														</a>
														<a href="javascript:;" class="btn btn-outline-light btn-icon">
														  <div class=""><i class="bx bx-minus"></i></div>
														</a>
													</div>
												</li>
												<li class="list-group-item d-flex align-items-center">
													<img alt="" class="mr-3 rounded-circle avatar-md" src="../../assets/img/faces/12.jpg">
													<div>
														<h6 class="tx-15 mb-1 tx-inverse tx-semibold mg-b-0">Marianne Audrey</h6><span class="d-block tx-13 text-muted">Premium Member</span>
													</div>
													<div class="d-flex float-left ml-auto">
														<a href="javascript:;" class="btn btn-outline-light btn-icon mr-2">
														  <div class=""><i class="bx bx-plus"></i></div>
														</a>
														<a href="javascript:;" class="btn btn-outline-light btn-icon">
														  <div class=""><i class="bx bx-minus"></i></div>
														</a>
													</div>
												</li>
											</ul>
										</div>
										<!-- Prism Code -->
<figure class="highlight clip-widget" id="alert1">
	<ul ngbNav #nav6="ngbNav" class="nav-tabs">
		<li [ngbNavItem]="1">
			<a ngbNavLink>HTML</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="html6"></code></pre>
				<div ngxClipboard [cbContent]="html6" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
		<li [ngbNavItem]="2">
			<a ngbNavLink>TS</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="ts6"></code></pre>
				<div ngxClipboard [cbContent]="ts6" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
	</ul>
	<div [ngbNavOutlet]="nav6"></div>

</figure>

<!-- End Prism Precode -->
									</div>
								</div>
							</div>
						</div>
						<!-- /row -->
					</div>
