					<!-- breadcrumb -->
					<div class="breadcrumb-header justify-content-between">
						<div class="my-auto">
							<div class="d-flex">
								<h4 class="content-title mb-0 my-auto">Elements</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/ Alerts</span>
							</div>
						</div>
						<div class="d-flex my-xl-auto right-content mr-2">
							<div class="pr-1 mb-3 mb-xl-0">
								<button type="button" class="btn btn-info btn-icon mr-2"><i class="mdi mdi-filter-variant"></i></button>
							</div>
							<div class="pr-1 mb-3 mb-xl-0">
								<button type="button" class="btn btn-danger btn-icon mr-2"><i class="mdi mdi-star"></i></button>
							</div>
							<div class="pr-1 mb-3 mb-xl-0">
								<button type="button" class="btn btn-warning  btn-icon mr-2"><i class="mdi mdi-refresh"></i></button>
							</div>
							<div class="mb-3 mb-xl-0">
								<div ngbDropdown class="btn-group">
									<button type="button" class="btn btn-primary">14 Aug 2019</button>
									<button type="button" ngbDropdownToggle class="btn btn-primary dropdown-toggle-split" id="dropdownMenuDate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="sr-only">Toggle Dropdown</span>
									</button>
									<div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownMenuDate" data-x-placement="bottom-end">
										<a ngbDropdownItem href="javascript:;">2015</a>
										<a ngbDropdownItem href="javascript:;">2016</a>
										<a ngbDropdownItem href="javascript:;">2017</a>
										<a ngbDropdownItem href="javascript:;">2018</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- breadcrumb -->

					<!-- row -->
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="card" id="basic-alert">
								<div class="card-body">
									<div>
										<h6 class="card-title mb-1">Basic Alerts</h6>
										<p class="text-muted card-sub-title">Use one of the four required contextual classes.</p>
									</div>
									<div class="text-wrap">
										<div class="example">
											<ng-container *ngFor="let alert of alerts">
												<ngb-alert type="{{alert.type}}" (closed)="close(alert)">{{ alert.message }}</ngb-alert>
											</ng-container>
											
											
										</div>
										<!-- Prism Code -->
<figure class="highlight clip-widget" id="alert1">
	<ul ngbNav #nav1="ngbNav" class="nav-tabs">
		<li [ngbNavItem]="1">
			<a ngbNavLink>HTML</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="html1"></code></pre>
				<div ngxClipboard [cbContent]="html1" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
		<li [ngbNavItem]="2">
			<a ngbNavLink>TS</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="ts1"></code></pre>
				<div ngxClipboard [cbContent]="ts1" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
	</ul>
	<div [ngbNavOutlet]="nav1"></div>

</figure>

<!-- End Prism Precode -->
									</div>
								</div>
								<div class="card-footer">
									<table class="table main-table-reference mt-0 mb-0">
										<thead>
											<tr>
												<th class="wd-40p">Class Reference</th>
												<th class="wd-60p">Values</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><code class="pd-0 bg-transparent">class="alert alert-[value]"</code></td>
												<td>success | info | warning | danger</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>

						<div class="col-lg-12 col-md-12">
							<div class="card" id="outline-alert">
								<div class="card-body">
									<div>
										<h6 class="card-title mb-1">Outline Alerts</h6>
										<p class="text-muted card-sub-title">Use one of the four required contextual classes.</p>
									</div>
									<div class="text-wrap">
										<div class="example">
											<ng-container *ngFor="let alert of outlineAlerts">
												<ngb-alert type="{{alert.type}}" (closed)="outlineClose(alert)">{{ alert.message }}</ngb-alert>
											</ng-container>
											
										</div>
										<!-- Prism Code -->
<figure class="highlight clip-widget" id="alert1">
	<ul ngbNav #nav2="ngbNav" class="nav-tabs">
		<li [ngbNavItem]="1">
			<a ngbNavLink>HTML</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="html2"></code></pre>
				<div ngxClipboard [cbContent]="html2" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
		<li [ngbNavItem]="2">
			<a ngbNavLink>TS</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="ts2"></code></pre>
				<div ngxClipboard [cbContent]="ts2" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
	</ul>
	<div [ngbNavOutlet]="nav2"></div>

</figure>

<!-- End Prism Precode -->
									</div>
								</div>
								<div class="card-footer">
									<table class="table main-table-reference mt-0 mb-0">
										<thead>
											<tr>
												<th class="wd-40p">Class Reference</th>
												<th class="wd-60p">Values</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><code class="pd-0 bg-transparent">class="alert alert-outline-[value]"</code></td>
												<td>success | info | warning | danger</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>


						<div class="col-lg-12 col-md-12">
							<div class="card" id="solid-alert">
								<div class="card-body">
									<div>
										<h6 class="card-title mb-1">Solid Colored Alerts</h6>
										<p class="text-muted card-sub-title">Use one of the four required contextual classes.</p>
									</div>
									<div class="text-wrap">
										<div class="example">

											<ng-container *ngFor="let alert of solidAlerts">
												<ngb-alert type="{{alert.type}}" (closed)="solidClose(alert)">{{ alert.message }}</ngb-alert>
											</ng-container>
									</div><!-- Prism Code -->
										<!-- Prism Code -->
<figure class="highlight clip-widget" id="alert1">
	<ul ngbNav #nav3="ngbNav" class="nav-tabs">
		<li [ngbNavItem]="1">
			<a ngbNavLink>HTML</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="html3"></code></pre>
				<div ngxClipboard [cbContent]="html3" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
		<li [ngbNavItem]="2">
			<a ngbNavLink>TS</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="ts3"></code></pre>
				<div ngxClipboard [cbContent]="ts3" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
	</ul>
	<div [ngbNavOutlet]="nav3"></div>

</figure>

<!-- End Prism Precode -->
									</div>

									<div class="card-footer">
										<table class="table main-table-reference mt-0 mb-0">
											<thead>
												<tr>
													<th class="wd-40p">Class Reference</th>
													<th class="wd-60p">Values</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><code class="pd-0 bg-transparent">class="alert alert-outline-[value]"</code></td>
													<td>success | info | warning | danger</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-12 col-md-12">
							<div class="card custom-card" id="link-alerts">
								<div class="card-body">
									<div>
										<h6 class="card-title mb-1">Link color Alerts</h6>
										<p class="text-muted card-sub-title">Use the <code class="highlighter-rouge">.alert-link</code> utility class to quickly provide matching colored links within any alert.</p>
									</div>
									<div class="text-wrap">
										<div class="example">
											<ngb-alert type="primary" [dismissible]="false">
												This is a primary alert with <a href="javascript:;" class="alert-link">an example link</a>.
												Give it a click if you like.
											</ngb-alert>
											<ngb-alert type="secondary" [dismissible]="false">
												This is a secondary alert with <a href="javascript:;" class="alert-link">an example
													link</a>. Give it a click if you like.
											</ngb-alert>
											<ngb-alert type="success" [dismissible]="false">
												This is a success alert with <a href="javascript:;" class="alert-link">an example link</a>.
												Give it a click if you like.
											</ngb-alert>
											<ngb-alert type="danger" [dismissible]="false">
												This is a danger alert with <a href="javascript:;" class="alert-link">an example link</a>.
												Give it a click if you like.
											</ngb-alert>
											<ngb-alert type="warning" [dismissible]="false">
												This is a warning alert with <a href="javascript:;" class="alert-link">an example link</a>.
												Give it a click if you like.
											</ngb-alert>
											<ngb-alert type="info" [dismissible]="false">
												This is a info alert with <a href="javascript:;" class="alert-link">an example link</a>.
												Give it a click if you like.
											</ngb-alert>
											<ngb-alert type="light" [dismissible]="false">
												This is a light alert with <a href="javascript:;" class="alert-link">an example link</a>.
												Give it a click if you like.
											</ngb-alert>
											<ngb-alert type="dark" [dismissible]="false">
												This is a dark alert with <a href="javascript:;" class="alert-link">an example link</a>.
												Give it a click if you like.
											</ngb-alert>
										</div>
									<!-- Prism Code -->
<figure class="highlight clip-widget" id="alert1">
	<ul ngbNav #nav14="ngbNav" class="nav-tabs">
		<li [ngbNavItem]="1">
			<a ngbNavLink>HTML</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="html4"></code></pre>
				<div ngxClipboard [cbContent]="html4" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
		<li [ngbNavItem]="2">
			<a ngbNavLink>TS</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="ts4"></code></pre>
				<div ngxClipboard [cbContent]="ts4" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
	</ul>
	<div [ngbNavOutlet]="nav14"></div>

</figure>

<!-- End Prism Precode -->
										</div>
									</div>
								</div>
								<div class="card custom-card" id="additional-alerts">
									<div class="card-body">
										<div>
											<h6 class="card-title mb-1">Additional Content Alert</h6>
											<p class="text-muted card-sub-title">Alerts can also contain additional HTML elements like headings, paragraphs and dividers.</p>
										</div>
										<div class="text-wrap">
											<div class="example">
												<ngb-alert type="success" [dismissible]="false">
													<h4 class="alert-heading">Well done!</h4>
													<p>Aww yeah, you successfully read this important alert message. This example text is going
														to run a bit longer so that you can see how spacing within an alert works with this kind
														of content.</p>
													<hr>
													<p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice
														and tidy.</p>
												</ngb-alert>
											</div>
							<!-- Prism Code -->
<figure class="highlight clip-widget" id="alert1">
	<ul ngbNav #nav5="ngbNav" class="nav-tabs">
		<li [ngbNavItem]="1">
			<a ngbNavLink>HTML</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="html5"></code></pre>
				<div ngxClipboard [cbContent]="html5" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
		<li [ngbNavItem]="2">
			<a ngbNavLink>TS</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="ts5"></code></pre>
				<div ngxClipboard [cbContent]="ts5" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
	</ul>
	<div [ngbNavOutlet]="nav5"></div>

</figure>

<!-- End Prism Precode -->
										</div>
									</div>
								</div>
								<div class="card custom-card" id="dismiss-alerts">
									<div class="card-body">
										<div>
											<h6 class="card-title mb-1">Dismissing Alerts</h6>
											<p class="text-muted card-sub-title">Using the alert JavaScript plugin, it’s possible to dismiss any alert inline.</p>
										</div>
										<div class="text-wrap">
											<div class="example">
												<ngb-alert type="warning">
													<span class="alert-inner--text"><strong>Holy guacamole!</strong> You should check in on some of those fields below.</span>
												</ngb-alert>
												<ngb-alert type="success">
													<span class="alert-inner--text"><strong>Holy guacamole!</strong> You should check in on some of those fields below.</span>
												</ngb-alert>
												<ngb-alert type="danger">
													<span class="alert-inner--text"><strong>Holy guacamole!</strong> You should check in on some of those fields below.</span>
												</ngb-alert>
												<ngb-alert type="info">
													<span class="alert-inner--text"><strong>Holy guacamole!</strong> You should check in on some of those fields below.</span>
												</ngb-alert>
											</div>
											<!-- Prism Code -->
<figure class="highlight clip-widget" id="alert1">
	<ul ngbNav #nav6="ngbNav" class="nav-tabs">
		<li [ngbNavItem]="1">
			<a ngbNavLink>HTML</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="html6"></code></pre>
				<div ngxClipboard [cbContent]="html6" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
		<li [ngbNavItem]="2">
			<a ngbNavLink>TS</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="ts6"></code></pre>
				<div ngxClipboard [cbContent]="ts6" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
	</ul>
	<div [ngbNavOutlet]="nav6"></div>

</figure>

<!-- End Prism Precode -->
										</div>
									</div>
								</div>
								<div class="card custom-card" id="icon-alerts">
									<div class="card-body">
										<div>
											<h6 class="card-title mb-1">Alert With Icon</h6>
											<p class="text-muted card-sub-title">Alerts can also contain additional HTML elements like headings, paragraphs and dividers.</p>
										</div>
										<div class="text-wrap">
											<div class="example">
												<ngb-alert type="default" [dismissible]="false">
													<span class="alert-inner--icon"><i class="fe fe-download mr-1"></i></span>
													<span class="alert-inner--text"><strong>Default!</strong> This is a warning alert—check it
														out that has an icon too!</span>
												</ngb-alert>
												<ngb-alert type="primary" [dismissible]="false">
													<span class="alert-inner--icon"><i class="fe fe-check-square mr-1"></i></span>
													<span class="alert-inner--text"><strong>Primary!</strong> This is a warning alert—check it
														out that has an icon too!</span>
												</ngb-alert>
												<ngb-alert type="success" [dismissible]="false">
													<span class="alert-inner--icon"><i class="fe fe-thumbs-up mr-1"></i></span>
													<span class="alert-inner--text"><strong>Success!</strong> This is a warning alert—check it
														out that has an icon too!</span>
												</ngb-alert>
												<ngb-alert type="info" [dismissible]="false">
													<span class="alert-inner--icon"><i class="fe fe-bell mr-1"></i></span>
													<span class="alert-inner--text"><strong>Info!</strong> This is a warning alert—check it out
														that has an icon too!</span>
												</ngb-alert>
												<ngb-alert type="warning" [dismissible]="false">
													<span class="alert-inner--icon"><i class="fe fe-info mr-1"></i></span>
													<span class="alert-inner--text"><strong>Warning!</strong> This is a warning alert—check it
														out that has an icon too!</span>
												</ngb-alert>
												<ngb-alert type="danger" [dismissible]="false">
													<span class="alert-inner--icon"><i class="fe fe-slash mr-1"></i></span>
													<span class="alert-inner--text"><strong>Danger!</strong> This is a warning alert—check it
														out that has an icon too!</span>
												</ngb-alert>
											</div>
											<!-- Prism Code -->
<figure class="highlight clip-widget" id="alert1">
	<ul ngbNav #nav7="ngbNav" class="nav-tabs">
		<li [ngbNavItem]="1">
			<a ngbNavLink>HTML</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="html7"></code></pre>
				<div ngxClipboard [cbContent]="html7" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
		<li [ngbNavItem]="2">
			<a ngbNavLink>TS</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="ts7"></code></pre>
				<div ngxClipboard [cbContent]="ts7" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
	</ul>
	<div [ngbNavOutlet]="nav7"></div>

</figure>

<!-- End Prism Precode -->
										</div>
									</div>
								</div>
								<div class="card custom-card" id="icon-dismissalerts">
									<div class="card-body">
										<div>
											<h6 class="card-title mb-1">Alert With Icon Dismissing</h6>
											<p class="text-muted card-sub-title">Alerts can also contain additional HTML elements like headings, paragraphs and dividers.</p>
										</div>
										<div class="text-wrap">
											<div class="example">
												<ngb-alert type="default">
													<span class="alert-inner--icon"><i class="fe fe-download mr-1"></i></span>
													<span class="alert-inner--text"><strong>Default!</strong> This is a warning alert—check it
														out that has an icon too!</span>
												</ngb-alert>
												<ngb-alert type="primary">
													<span class="alert-inner--icon"><i class="fe fe-check-square mr-1"></i></span>
													<span class="alert-inner--text"><strong>Primary!</strong> This is a warning alert—check it
														out that has an icon too!</span>
												</ngb-alert>
												<ngb-alert type="success">
													<span class="alert-inner--icon"><i class="fe fe-thumbs-up mr-1"></i></span>
													<span class="alert-inner--text"><strong>Success!</strong> This is a warning alert—check it
														out that has an icon too!</span>
												</ngb-alert>
												<ngb-alert type="info">
													<span class="alert-inner--icon"><i class="fe fe-bell mr-1"></i></span>
													<span class="alert-inner--text"><strong>Info!</strong> This is a warning alert—check it out
														that has an icon too!</span>
												</ngb-alert>
												<ngb-alert type="warning">
													<span class="alert-inner--icon"><i class="fe fe-info mr-1"></i></span>
													<span class="alert-inner--text"><strong>Warning!</strong> This is a warning alert—check it
														out that has an icon too!</span>
												</ngb-alert>
												<ngb-alert type="danger">
													<span class="alert-inner--icon"><i class="fe fe-slash mr-1"></i></span>
													<span class="alert-inner--text"><strong>Danger!</strong> This is a warning alert—check it
														out that has an icon too!</span>
												</ngb-alert>
											</div>
								<!-- Prism Code -->
<figure class="highlight clip-widget" id="alert1">
	<ul ngbNav #nav8="ngbNav" class="nav-tabs">
		<li [ngbNavItem]="1">
			<a ngbNavLink>HTML</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="html8"></code></pre>
				<div ngxClipboard [cbContent]="html8" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
		<li [ngbNavItem]="2">
			<a ngbNavLink>TS</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="ts8"></code></pre>
				<div ngxClipboard [cbContent]="ts8" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
	</ul>
	<div [ngbNavOutlet]="nav8"></div>

</figure>

<!-- End Prism Precode -->
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /row -->