.content-div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
}

.card-img-bottom {
    width: 100%;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}