<!-- breadcrumb -->
<div class="breadcrumb-header justify-content-between">
    <div class="my-auto">
        <div class="d-flex">
            <h4 class="content-title mb-0 my-auto">Dashboard</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/ Member Adjustment</span>
        </div>
    </div>
    <div class="d-flex my-xl-auto right-content mr-2">
        <div class="pr-1 mb-3 mb-xl-0">
			<button type="button" placement="bottom" class="btn btn-info btn-icon mr-2"  ngbTooltip="Create New" >
                <i class="fa fa-plus"></i>
            </button>
		</div>
        <div class="pr-1 mb-3 mb-xl-0">
			<button type="button" placement="bottom" class="btn btn-danger btn-icon mr-2"  ngbTooltip="Delete from list" >
                <i class="fa fa-trash"></i>
            </button>
		</div>
        <!-- <div class="pr-1 mb-3 mb-xl-0">
            <button type="button" class="btn btn-warning  btn-icon mr-2"><i class="mdi mdi-refresh"></i></button>
        </div> -->
    </div>
</div>
<!-- breadcrumb -->

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="main-content-label mg-b-5">
					Filter / Sort Options
				</div>
                <br>
                <div class="row">
                    <div class="col-md-3">asdas</div>
                    <div class="col-md-3">asdas</div>
                </div>
                <br>
                <table class="table table-bordered" id="myTable1">
                    <thead>
                        <tr>
                            <th class="wd-lg-8p">Column Name 1</th>
                            <th class="wd-lg-8p">Column Name 2</th>
                            <th class="wd-lg-8p">Column Name 3</th>
                            <th class="wd-lg-8p">Column Name 4</th>
                            <th class="wd-lg-8p">Column Name 5</th>
                            <th class="wd-lg-8p">Column Name 6</th>
                            <th class="wd-lg-8p">Column Name 7</th>
                            <th class="wd-lg-8p">Column Name 8</th>
                            <th class="wd-lg-8p">Column Name 9</th>
                            <th class="wd-lg-8p">Column Name 10</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>