<!-- breadcrumb -->
<div class="breadcrumb-header justify-content-between">
  <div class="my-auto">
    <div class="d-flex">
      <h4 class="content-title mb-0 my-auto">Bill Generation</h4>
    </div>
  </div>
  <div class="d-flex my-xl-auto right-content mr-2">
    <div class="col-md-4">
      <button class="btn btn-info-gradient btn-rounded btn-block">
        Bill Generation
      </button>
    </div>

    <div class="col-md-4">
      <button class="btn btn-success-gradient btn-rounded btn-block">
        Add New
      </button>
    </div>

    <div class="col-md-4">
      <button class="btn btn-primary-gradient btn-rounded btn-block">
        Modify
      </button>
    </div>

    <div class="col-md-4">
      <button class="btn btn-danger-gradient btn-rounded btn-block">
        Delete
      </button>
    </div>
    <!-- <div class="pr-1 mb-3 mb-xl-0">
			<button type="button" placement="bottom" class="btn btn-info btn-icon mr-2"  ngbTooltip="Generate Bill" >
                <i class="fa fa-address-card"></i>
            </button>
		</div>
        <div class="pr-1 mb-3 mb-xl-0">
			<button type="button" placement="bottom" class="btn btn-info btn-icon mr-2"  ngbTooltip="Add New" >
                <i class="fa fa-user-plus"></i>
            </button>
		</div> -->
  </div>
</div>
<!-- breadcrumb -->
<!-- row -->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-hover" id="myTable1">
            <thead>
              <tr>
                <th></th>
                <th class="wd-lg-8p">Bill No</th>
                <th class="wd-lg-8p">Flat No</th>
                <th class="wd-lg-8p">Member Name</th>
                <th class="wd-lg-8p">Bill Amount</th>
                <th class="wd-lg-8p">Principal</th>
                <th class="wd-lg-8p">Interest</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input type="checkbox" />
                </td>
                <td>0001</td>
                <td>A-002</td>
                <td>Karandeep Singh Saluja</td>
                <td>100.00</td>
                <td>200.00</td>
                <td>300.00</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" />
                </td>
                <td>0002</td>
                <td>A-002</td>
                <td>Karandeep Singh Saluja</td>
                <td>100.00</td>
                <td>200.00</td>
                <td>300.00</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" />
                </td>
                <td>0003</td>
                <td>A-002</td>
                <td>Karandeep Singh Saluja</td>
                <td>100.00</td>
                <td>200.00</td>
                <td>300.00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- row closed -->
