<!-- breadcrumb -->
<div class="breadcrumb-header justify-content-between">
    <div class="my-auto">
        <div class="d-flex">
            <h4 class="content-title mb-0 my-auto">Dashboard</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/ Account Master</span>
        </div>
    </div>
    <div class="d-flex my-xl-auto right-content mr-2">
        <div class="pr-1 mb-3 mb-xl-0">
		</div>
        <!-- <div class="pr-1 mb-3 mb-xl-0">
            <button type="button" class="btn btn-warning  btn-icon mr-2"><i class="mdi mdi-refresh"></i></button>
        </div> -->
    </div>
</div>
<!-- breadcrumb -->


<!-- row -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-bordered" id="myTable1">
                    <thead>
                        <tr>
                            <th class="wd-lg-8p">Secondary Group</th>
                            <th class="wd-lg-8p">Primary Group</th>
                            <th class="wd-lg-8p">Main Group</th>
                            <th class="wd-lg-8p">Charge Type</th>
                            <th class="wd-lg-8p">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Cost of Land</td>
                            <td>Cost of Land</td>
                            <td>Assets</td>
                            <td>Fixed</td>
                            <td>100.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- row closed -->