
					<div class="breadcrumb-header justify-content-between">
						<div class="my-auto">
							<div class="d-flex">
								<h4 class="content-title mb-0 my-auto">Elements</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/ Toast</span>
							</div>
						</div>
						<div class="d-flex my-xl-auto right-content mr-2">
							<div class="pr-1 mb-3 mb-xl-0">
								<button type="button" class="btn btn-info btn-icon mr-2"><i class="mdi mdi-filter-variant"></i></button>
							</div>
							<div class="pr-1 mb-3 mb-xl-0">
								<button type="button" class="btn btn-danger btn-icon mr-2"><i class="mdi mdi-star"></i></button>
							</div>
							<div class="pr-1 mb-3 mb-xl-0">
								<button type="button" class="btn btn-warning  btn-icon mr-2"><i class="mdi mdi-refresh"></i></button>
							</div>
							<div class="mb-3 mb-xl-0">
								<div ngbDropdown class="btn-group">
									<button type="button" class="btn btn-primary">14 Aug 2019</button>
									<button type="button" ngbDropdownToggle class="btn btn-primary dropdown-toggle-split" id="dropdownMenuDate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="sr-only">Toggle Dropdown</span>
									</button>
									<div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownMenuDate" data-x-placement="bottom-end">
										<a ngbDropdownItem href="javascript:;">2015</a>
										<a ngbDropdownItem href="javascript:;">2016</a>
										<a ngbDropdownItem href="javascript:;">2017</a>
										<a ngbDropdownItem href="javascript:;">2018</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				

					
					<div class="row">
						<div class="col-xl-12 col-lg-12">
							<div class="card custom-card" id="basic">
								<div class="card-body">
									<div>
										<h6 class="card-title mb-1">Declarative inline usage</h6>
										<p class="text-muted card-sub-title">Toasts are as flexible as you need and have very little
											required markup. At a minimum, we require a single element to contain your “toasted” content and
											strongly encourage a dismiss button.</p>
									</div>
									<div class="text-wrap">
										<div class="example">

											<ngb-toast *ngIf="show" header="Hello" [autohide]="false" (hidden)="show=false">
												I am a simple static toast with a header.
											</ngb-toast>

										</div>
										<!-- Prism Code -->
<figure class="highlight clip-widget" id="toast1">
	<ul ngbNav #nav1="ngbNav" class="nav-tabs">
		<li [ngbNavItem]="1">
			<a ngbNavLink>HTML</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="html1"></code></pre>
				<div ngxClipboard [cbContent]="html1" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
		<li [ngbNavItem]="2">
			<a ngbNavLink>TS</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="ts1"></code></pre>
				<div ngxClipboard [cbContent]="ts1" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
	</ul>
	<div [ngbNavOutlet]="nav1"></div>

</figure>

<!-- End Prism Precode -->
	
									</div>
								</div>
							</div>
							<div class="card custom-card" id="tarns">
								<div class="card-body">
									<div>
										<h6 class="main-content-label mb-1">Using a Template as header</h6>
									</div>
									<div class="text-wrap">
										<div class="example">

											<ngb-toast *ngIf="show1" [autohide]="false" (hidden)="show1=false">
												<ng-template ngbToastHeader>
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
														<path
															d="M16.896 10l-4.896-8-4.896 8-7.104-4 3 11v5h18v-5l3-11-7.104 4zm-11.896 10v-2h14v2h-14zm14.2-4h-14.4l-1.612-5.909 4.615 2.598 4.197-6.857 4.197 6.857 4.615-2.598-1.612 5.909z" />
													</svg>
													<strong class="mx-1">Fancy</strong>header notification
												</ng-template>
												Hello, I am toast. Have you noticed my header has been generated from a Template?
											</ngb-toast>

									
										</div>
										<!-- Prism Code -->
<figure class="highlight clip-widget" id="toast1">
	<ul ngbNav #nav2="ngbNav" class="nav-tabs">
		<li [ngbNavItem]="1">
			<a ngbNavLink>HTML</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="html2"></code></pre>
				<div ngxClipboard [cbContent]="html2" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
		<li [ngbNavItem]="2">
			<a ngbNavLink>TS</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="ts2"></code></pre>
				<div ngxClipboard [cbContent]="ts2" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
	</ul>
	<div [ngbNavOutlet]="nav2"></div>

</figure>

<!-- End Prism Precode -->
	
									</div>
								</div>
							</div>
							<div class="card custom-card" id="stacking">
								<div class="card-body">
									<div>
										<h6 class="card-title mb-1">Stacking</h6>
										<p class="text-muted card-sub-title">When you have multiple toasts, we default to vertiaclly stacking them in a readable manner.</p>
									</div>
									<div class="text-wrap">
										<div class="example">
											<div class="demo-static-toast">

												<ngb-toast *ngIf="show2" [autohide]="false" (hidden)="show2=false">
													<ng-template ngbToastHeader>
														<h6 class="tx-14 mg-b-0 mg-r-auto">Notification</h6>
														<small class="text-muted">Just now</small>
													</ng-template>
													See? Just like this.
												</ngb-toast>
												<ngb-toast *ngIf="show3" [autohide]="false" (hidden)="show3=false">
													<ng-template ngbToastHeader>
														<h6 class="tx-14 mg-b-0 mg-r-auto">Notification</h6>
														<small class="text-muted">11 mins ago</small>
													</ng-template>
													Hello, world! This is a toast message.
												</ngb-toast>

											</div>
										</div>
										<!-- Prism Code -->
<figure class="highlight clip-widget" id="toast1">
	<ul ngbNav #nav3="ngbNav" class="nav-tabs">
		<li [ngbNavItem]="1">
			<a ngbNavLink>HTML</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="html3"></code></pre>
				<div ngxClipboard [cbContent]="html3" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
		<li [ngbNavItem]="2">
			<a ngbNavLink>TS</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="ts3"></code></pre>
				<div ngxClipboard [cbContent]="ts3" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
	</ul>
	<div [ngbNavOutlet]="nav3"></div>

</figure>

<!-- End Prism Precode -->
	
									</div>
								</div>
							</div>
							<div class="card custom-card" id="place">
								<div class="card-body">
									<div>
										<h6 class="main-content-label mb-1">Closeable toast</h6>
										<p class="text-muted card-sub-title">If you close me, I will automatically re-appear after a few
											seconds.</p>
									</div>
									<div class="text-wrap mb-3">
										<div class="example">


											<div class="ht-150 pos-relative mb-3">
												<ngb-toast *ngIf="isclose" header="Click my close icon →" [autohide]="false" (hidden)="close()">
													If you close me, I will automatically re-appear after a few seconds.
												</ngb-toast>
												<p *ngIf="!isclose">I'll be back!</p>
											</div>


										</div>
										<!-- Prism Code -->
<figure class="highlight clip-widget" id="toast1">
	<ul ngbNav #nav4="ngbNav" class="nav-tabs">
		<li [ngbNavItem]="1">
			<a ngbNavLink>HTML</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="html4"></code></pre>
				<div ngxClipboard [cbContent]="html4" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
		<li [ngbNavItem]="2">
			<a ngbNavLink>TS</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="ts4"></code></pre>
				<div ngxClipboard [cbContent]="ts4" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
	</ul>
	<div [ngbNavOutlet]="nav4"></div>

</figure>

<!-- End Prism Precode -->
									</div>

									
		
									
									</div>
								</div>

								<div class="card custom-card" id="basic">
									<div class="card-body">
										<div>
											<h6 class="main-content-label mb-1">Toast management service</h6>
											<p class="text-muted card-sub-title">In this demo, you can show a toast by clicking the button
												below. It will hide itself after a 5 seconds delay unless you simply hover it with your mouse.
											</p>
										</div>
										<div class="text-wrap">
											<div class="example">
	
												<p>Please click one of the button to see a Toast being displayed in the top right corner of your
													screen:</p>
												<button class="btn btn-primary mb-2" (click)="showStandard()"
													ngbTooltip="Will disappear in 5s">Standard toast</button>&nbsp;
												<button class="btn btn-success mb-2" (click)="showSuccess()"
													ngbTooltip="Will disappear in 10s">Success toast</button>&nbsp;
						
												 <ng-template #dangerTpl>
													<svg xmlns="http://www.w3.org/2000/svg" fill="#fff" width="24" height="24"
														viewBox="0 0 24 24">
														<path
															d="M10.872 6.831l1.695 3.904 3.654-1.561-1.79 3.426 3.333.954-3.417 1.338 2.231 4.196-4.773-2.582-2.869 2.287.413-3.004-3.792-.726 2.93-1.74-1.885-2.512 3.427.646.843-4.626zm-.786-6.831l-1.665 9.119-6.512-1.228 3.639 4.851-5.548 3.294 7.108 1.361-.834 6.076 5.742-4.577 9.438 5.104-4.288-8.064 6.834-2.677-6.661-1.907 3.25-6.22-6.98 2.982-3.523-8.114z" />
													</svg>
													Danger Danger !
												</ng-template>
												<button class="btn btn-danger mb-2" (click)="showDanger(dangerTpl)"
													ngbTooltip="Will disappear in 15s">Danger toast</button>&nbsp;
						
												<app-toast-container aria-live="polite" aria-atomic="true"></app-toast-container>
	 
											</div>
											<!-- Prism Code -->
<figure class="highlight clip-widget" id="toast1">
	<ul ngbNav #nav5="ngbNav" class="nav-tabs">
		<li [ngbNavItem]="1">
			<a ngbNavLink>HTML</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="html5"></code></pre>
				<div ngxClipboard [cbContent]="html5" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
		<li [ngbNavItem]="2">
			<a ngbNavLink>TS</a>
			<ng-template ngbNavContent>
				<pre><code [highlight]="ts5"></code></pre>
				<div ngxClipboard [cbContent]="ts5" >
					<div class="clipboard-icon" container="body" placement="top" ngbTooltip="Copy To Clipboard">
						<i class="fa fa-clipboard"></i>
					</div>
				</div>
			</ng-template>
		</li>
	</ul>
	<div [ngbNavOutlet]="nav5"></div>

</figure>

<!-- End Prism Precode -->
		
										</div>
									</div>
								</div>

							</div>
						</div>
					

