.modal-dialog.modal-dialog-right.chatbox{
    margin: 0 !important;
}

.dropdown-menu.dropdown-menu-right{
    left: initial !important;
    right: 0px;
}
.si-options-vertical{
    margin-left: 10px !important;
}

.ah-actions.actions.align-items-center li:nth-child(4) a{
    padding-top: 2px !important;
}