<!-- breadcrumb -->
<div class="breadcrumb-header justify-content-between">
	<div class="my-auto">
		<div class="d-flex">
			<h4 class="content-title mb-0 my-auto">Tables</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/ Data
				Tables</span>
		</div>
	</div>
	<div class="d-flex my-xl-auto right-content mr-2">
		<div class="pr-1 mb-3 mb-xl-0">
			<button type="button" class="btn btn-info btn-icon mr-2"><i class="mdi mdi-filter-variant"></i></button>
		</div>
		<div class="pr-1 mb-3 mb-xl-0">
			<button type="button" class="btn btn-danger btn-icon mr-2"><i class="mdi mdi-star"></i></button>
		</div>
		<div class="pr-1 mb-3 mb-xl-0">
			<button type="button" class="btn btn-warning  btn-icon mr-2"><i class="mdi mdi-refresh"></i></button>
		</div>
		<div class="mb-3 mb-xl-0">
			<div ngbDropdown class="btn-group">
				<button type="button" class="btn btn-primary">14 Aug 2019</button>
				<button type="button" ngbDropdownToggle class="btn btn-primary dropdown-toggle-split"
					id="dropdownMenuDate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="sr-only">Toggle Dropdown</span>
				</button>
				<div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownMenuDate"
					data-x-placement="bottom-end">
					<a ngbDropdownItem href="javascript:;">2015</a>
					<a ngbDropdownItem href="javascript:;">2016</a>
					<a ngbDropdownItem href="javascript:;">2017</a>
					<a ngbDropdownItem href="javascript:;">2018</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- breadcrumb -->

<!-- row opened -->
<div class="row row-sm">
	<div class="col-xl-12">
		<div class="card">
			<div class="card-header pb-0">
				<div class="d-flex justify-content-between">
					<h4 class="card-title mg-b-0">SIMPLE TABLE</h4>
					<i class="mdi mdi-dots-horizontal text-gray"></i>
				</div>
				<p class="tx-12 tx-gray-500 mb-2">Example of Valex Simple Table. <a href="javascript:;">Learn more</a>
				</p>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table text-md-nowrap" id="myTable1">
						<thead>
							<tr>
								<th class="wd-15p border-bottom-0">First name</th>
								<th class="wd-15p border-bottom-0">Last name</th>
								<th class="wd-20p border-bottom-0">Position</th>
								<th class="wd-15p border-bottom-0">Start date</th>
								<th class="wd-10p border-bottom-0">Salary</th>
								<th class="wd-25p border-bottom-0">E-mail</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let table of dataTable">
								<td>{{table.firstName}}</td>
								<td>{{table.lastName}}</td>
								<td>{{table.position}}</td>
								<td>{{table.startdate}}</td>
								<td>{{table.salary  | currency:'USD':'symbol':'3.0-0'}}</td>
								<td>{{table.email}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	

	<!--div-->
	<div class="col-xl-12">
		<div class="card mg-b-20">
			<div class="card-header pb-0">
				<div class="d-flex justify-content-between">
					<h4 class="card-title mg-b-0">Ngx DataTable</h4>
					<i class="mdi mdi-dots-horizontal text-gray"></i>
				</div>
				<p class="tx-12 tx-gray-500 mb-2">Ngx-DataTable using material theme DataTables.</p>
			</div>
			<div class="card-body">
				
				<ngx-datatable 
						class="material"
						[rows]="dataTable"
						columnMode="force"
						[headerHeight]="50"
						[footerHeight]="50"
						[rowHeight]="50"
						[scrollbarV]="true"
						[summaryRow]="true"
                    [summaryPosition]="'bottom'"
                    >
                    <ngx-datatable-column name="First Name" [width]="100" ></ngx-datatable-column>
                    <ngx-datatable-column name="Last Name"  [width]="100"></ngx-datatable-column>
                    <ngx-datatable-column name="Position"  [width]="100"></ngx-datatable-column>
					<ngx-datatable-column name="Email"  [width]="100"></ngx-datatable-column>
					
                </ngx-datatable>
			</div>
		</div>
	</div>
	<!--/div-->

	