<!-- breadcrumb -->
<div class="breadcrumb-header justify-content-between">
    <div class="my-auto">
        <div class="d-flex">
            <h4 class="content-title mb-0 my-auto">Charts</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/
                Chartjs</span>
        </div>
    </div>
    <div class="d-flex my-xl-auto right-content mr-2">
        <div class="pr-1 mb-3 mb-xl-0">
            <button type="button" class="btn btn-info btn-icon mr-2"><i class="mdi mdi-filter-variant"></i></button>
        </div>
        <div class="pr-1 mb-3 mb-xl-0">
            <button type="button" class="btn btn-danger btn-icon mr-2"><i class="mdi mdi-star"></i></button>
        </div>
        <div class="pr-1 mb-3 mb-xl-0">
            <button type="button" class="btn btn-warning  btn-icon mr-2"><i class="mdi mdi-refresh"></i></button>
        </div>
        <div class="mb-3 mb-xl-0">
            <div ngbDropdown class="btn-group">
                <button type="button" class="btn btn-primary">14 Aug 2019</button>
                <button type="button" ngbDropdownToggle class="btn btn-primary dropdown-toggle-split"
                    id="dropdownMenuDate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownMenuDate"
                    data-x-placement="bottom-end">
                    <a ngbDropdownItem href="javascript:;">2015</a>
                    <a ngbDropdownItem href="javascript:;">2016</a>
                    <a ngbDropdownItem href="javascript:;">2017</a>
                    <a ngbDropdownItem href="javascript:;">2018</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb -->

<!-- row -->
<div class="row row-sm">
    <div class="col-sm-12 col-md-6">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="main-content-label mg-b-5">
                    Line Chart
                </div>
                <p class="mg-b-20">Basic Charts Of Valex template.</p>
                <div class="chartjs-wrapper-demo">
                    <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                        [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType">
                    </canvas>
                </div>
            </div>
        </div>
    </div><!-- col-6 -->
    <div class="col-sm-12 col-md-6">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="main-content-label mg-b-5">
                    Area Chart
                </div>
                <p class="mg-b-20">Basic Charts Of Valex template.</p>
                <div class="chartjs-wrapper-demo">
                    <!-- <canvas baseChart [datasets]="AreaChartData" [labels]="AreaChartLabels" [options]="AreaChartOptions"
                        [colors]="AreaChartColors" [chartType]="AreaChartType">
                    </canvas> -->
                    <canvas id=Canvas #myCanvas></canvas>
                </div>
            </div>
        </div>
    </div><!-- col-6 -->
</div>
<!-- /row -->

<!-- row -->
<div class="row row-sm">
    <div class="col-sm-12 col-md-6">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="main-content-label mg-b-5">
                    Stacked Bar Chart
                </div>
                <p class="mg-b-20">Basic Charts Of Valex template.</p>
                <div class="chartjs-wrapper-demo">

                    <canvas baseChart [datasets]="barChart2Data" [labels]="barChart2Labels" [options]="barChart2Options"
                        [legend]="barChart2Legend" [chartType]="barChart2Type" [colors]="barchart2Colors">
                    </canvas>
                </div>
            </div>
        </div>
    </div><!-- col-6 -->
    <div class="col-sm-12 col-md-6">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="main-content-label mg-b-5">
                    Stacked Bar Horizontal Chart
                </div>
                <p class="mg-b-20">Basic Charts Of Valex template.</p>
                <div class="chartjs-wrapper-demo">
                    <!-- <canvas id="chartStacked2"></canvas> -->
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                        [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType"
                        [colors]="barChartColors">
                    </canvas>
                </div>
            </div>
        </div>
    </div><!-- col-6 -->
</div>
<!-- /row -->


<!-- row -->
<div class="row row-sm">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="row row-sm">
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="main-content-label tx-12 mg-b-15">
                            Solid Color
                        </div>
                        <div class="ht-200 ht-lg-250">
                           <canvas baseChart [datasets]="solidColorData" [labels]="solidColorLabels" [options]="solidColorOptions"
                             [legend]="solidColorLegend" [chartType]="solidColorType" [colors]="solidColorColors">
                            </canvas>
                        </div>
                    </div><!-- col-6 -->
                    <div class="col-sm-12 col-md-6 col-xl-4 mg-t-20 mg-md-t-0">
                        <div class="main-content-label tx-12 mg-b-15">
                            With Transparency
                        </div>
                        <div class="ht-200 ht-lg-250">
                            <canvas baseChart [datasets]="solidColorData" [labels]="solidColorLabels" [options]="solidColorOptions"
                              [chartType]="solidColorType" [colors]="transparentColors">
                            </canvas>
                        </div>
                    </div><!-- col-6 -->
                    <div class="col-sm-12 col-md-6 col-xl-4 mg-t-20 mg-xl-t-0">
                        <div class="main-content-label tx-12 mg-b-15">
                            Using Gradient Color
                        </div>
                        <div class="ht-200 ht-lg-250">
                            <!-- <canvas baseChart [datasets]="solidColorData" [labels]="solidColorLabels" [options]="solidColorOptions"
                              [chartType]="solidColorType" [colors]="gradientColors">
                            </canvas> -->
                            <canvas id=Canvas #Canvas></canvas>
                        </div>
                    </div><!-- col-6 -->
                </div>
            </div><!-- col-12 -->
        </div><!-- col-12 -->
    </div><!-- col-12 -->
</div>
<!-- /row -->

<!-- row -->
<div class="row row-sm">
    <div class="col-sm-12 col-md-6">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="main-content-label mg-b-5">
                    Horizontal Bar Chart 1
                </div>
                <p class="mg-b-20">Basic Charts Of Valex template.</p>
                <div class="chartjs-wrapper-demo">
                    <canvas baseChart [datasets]="horizantalBarData" [labels]="horizantalBarLabels" [options]="horizantalBarOptions"
                              [chartType]="horizantalBarType" [colors]="horizantalBarColors">
                    </canvas>
                </div>
            </div>
        </div>
    </div><!-- col-6 -->
    <div class="col-sm-12 col-md-6">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="main-content-label mg-b-5">
                    Horizontal Bar Chart 2
                </div>
                <p class="mg-b-20">Basic Charts Of Valex template.</p>
                <div class="chartjs-wrapper-demo">
                    <canvas baseChart [datasets]="horizantal2BarData" [labels]="horizantal2BarLabels" [options]="horizantal2BarOptions" [legend]="horizantal2BarLegend"
                              [chartType]="horizantal2BarType" [colors]="horizantal2BarColors">
                    </canvas>
                    
                </div>
            </div>
        </div>
    </div><!-- col-6 -->
</div>
<!-- /row -->

<!-- row -->
<div class="row row-sm">
    <div class="col-sm-12 col-md-6">
        <div class="card mg-b-md-20 overflow-hidden">
            <div class="card-body">
                <div class="main-content-label mg-b-5">
                    Pie Chart
                </div>
                <p class="mg-b-20">Basic Charts Of Valex template.</p>
                <div class="chartjs-wrapper-demo">
                    <!-- <canvas id="chartPie"></canvas> -->
                    <canvas baseChart [datasets]="PieChartData" [labels]="PieChartLabels" [options]="PieChartOptions"
                    [chartType]="DoughnutChartType">
                    </canvas>
                    
                </div>
            </div>
        </div>
    </div><!-- col-6 -->
    <div class="col-sm-12 col-md-6">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="main-content-label mg-b-5">
                    Donut Chart
                </div>
                <p class="mg-b-20">Basic Charts Of Valex template.</p>
                <div class="chartjs-wrapper-demo">
                    <!-- <canvas id="chartDonut"></canvas> -->
                  
                    <canvas baseChart [datasets]="PieChartData" [labels]="PieChartLabels" [options]="PieChartOptions"
                        [chartType]="PieChartType">
                    </canvas>
                </div>
            </div>
        </div>
    </div><!-- col-6 -->
</div>