<!-- breadcrumb -->
<div class="breadcrumb-header justify-content-between">
    <div class="left-content">
        <div>
            <h2 class="main-content-title tx-20 mg-b-1 mg-b-lg-1">D K Devshthali Residence Welfare Association</h2>
        </div>
    </div>
    <div class="main-dashboard-header-right">
        <div>
            <label class="tx-13">Financial Year</label>
            <h6>2021 - 22</h6>
        </div>
        <div>
            <label class="tx-13">Created On</label>
            <h6>12-02-2022 10:00</h6>
        </div>
    </div>
</div>
<!-- /breadcrumb -->


<!-- row opened -->
<div class="row row-sm row-deck">
    <div class="col-md-12 col-lg-6 col-xl-6">
        <div class="card card-dashboard-eight pb-2">
            <h6 class="card-title">Society Information Summary</h6>
            <div class="list-group">
                <div class="list-group-item border-top-0">
                    <i class="fa fa-clone"></i>
                    <p>Total Members Onboard</p><span>00</span>
                </div>
                <div class="list-group-item">
                    <i class="far fa-thumbs-up"></i>
                    <p>Total Tenant Onboard</p><span>00</span>
                </div>
                <div class="list-group-item">
                    <i class="far fa-id-card"></i>
                    <p>Total Family (Owner)</p><span>00</span>
                </div>
                <div class="list-group-item">
                    <i class="fa fa-id-card"></i>
                    <p>Total Family (Tenant)</p><span>00</span>
                </div>
                <div class="list-group-item">
                    <i class="fa fa-indent"></i>
                    <p>Flat Onboard Inventory</p><span>00</span>
                </div>
                <div class="list-group-item border-bottom-0 mb-0">
                    <i class="far fa-newspaper"></i>
                    <p>Download Users</p><span>00</span>
                </div>
                <div class="list-group-item border-bottom-0 mb-0">
                    <i class="fa fa-image"></i>
                    <p>Visitors</p><span>00</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6 col-xl-6">
        <div class="card card-dashboard-eight pb-2">
            <h6 class="card-title">Payment Information Summary</h6>
            <!-- <h6 class="card-title">Payment Information Summary</h6> -->
            <div class="list-group">
                <div class="list-group-item border-top-0">
                    <i class="far fa-check-circle"></i>
                    <p>Total Invoice Generate</p><span>00</span>
                </div>
                <div class="list-group-item">
                    <i class="fas fa-cloud-download-alt"></i>
                    <p>Total Paid Invoice</p><span>00</span>
                </div>
                <div class="list-group-item">
                    <i class="fab fa-twitch"></i>
                    <p>Collection Amount</p><span>00</span>
                </div>
                <div class="list-group-item">
                    <i class="fa fa-subscript"></i>
                    <p>Pending Amount</p><span>00</span>
                </div>
                <div class="list-group-item">
                    <i class="fab fa-cc-visa"></i>
                    <p>Online Payment</p><span>00</span>
                </div>
                <div class="list-group-item border-bottom-0 mb-0">
                    <i class="fas fa-link"></i>
                    <p>Offline Payment</p><span>00</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /row -->