::ng-deep{
    .notifier__notification.notifier__notification--material.notifier__notification--primary{
        color: #fff;
    background-color: #0162e8;
    }
    .notifier__container * {
        fill: #fff;
    }
    .notifier__notification.notifier__notification--material.notifier__notification--opacity{
        color: #fff;
        background-color: #364261;
        opacity: 0.8
    }

}
// notifier__notification notifier__notification--opacity notifier__notification--material