::ng-deep{
    .ng-dropdown-panel{
        z-index: 3 !important;
    }
    .nav-link[aria-selected="true"] .colorinput-color:before{
        opacity: 1 !important;
    }
    .bg-purple{
        background-color: #7b0491;
    }
    .colors {
        flex-grow: initial !important;
    }
}
@media (min-width:768px){
    .preview-pic{
        min-height: 300px;
    }
}
@media (max-width:768px){
    .preview-pic{
        min-height: 180px;
    }
}